$fontSize : 16px ;
$fontFamily : Arial, Helvetica, sans-serif;
$backgroundColor : #f4f4f4;
$headerBackground : #35424a;
$headerColor : #fff;
$borderColor : #e8491d;
$serviceBackground: #e6e6e6;
$serviceBorder: #ccc;
